{
    "swagger": "2.0",
    "info": {
      "title": "EventHubManagementClient",
      "description": "Azure Event Hubs client",
      "version": "2021-11-01"
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "security": [
      {
        "azure_auth": [
          "user_impersonation"
        ]
      }
    ],
    "securityDefinitions": {
      "azure_auth": {
        "type": "oauth2",
        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
        "flow": "implicit",
        "description": "Azure Active Directory OAuth2 Flow",
        "scopes": {
          "user_impersonation": "impersonate your user account"
        }
      }
    },
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/schemagroups":{
          "get":{
            "tags": [
                "SchemaRegistry"
            ],
            "operationId": "SchemaRegistry_ListByNamespace",
            "x-ms-examples": {
              "SchemaRegistryListAll":{
                "$ref": "./examples/SchemaRegistry/SchemaRegistryListByNamespace.json"
              }
            },
            "description": "Gets all the Schema Groups in a Namespace.",
            "parameters": [
              {
                "$ref": "../../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
              },
              {
                "$ref": "../../../common/v1/definitions.json#/parameters/NamespaceNameParameter"
              },
              {
                "$ref": "../../../common/v1/definitions.json#/parameters/ApiVersionParameter"
              },
              {
                "$ref": "../../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
              },
              {
                "$ref": "../../../common/v1/definitions.json#/parameters/SkipParameter"
              },
              {
                "$ref": "../../../common/v1/definitions.json#/parameters/TopParameter"
              }
            ],
            "responses": {
              "200":{
                "description": ""
              }
            }
          }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/schemagroups/{schemaGroupName}":{
          "put": {
            "tags": [
              "SchemaRegistry"
            ],
            "operationId": "SchemaRegistry_CreateOrUpdate",
            "x-ms-examples": {

            },
            "description": "",
            "parameters": [
              {
                "$ref": "../../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
              },
              {
                "$ref": "../../../common/v1/definitions.json#/parameters/NamespaceNameParameter"
              },
              {
                "$ref": "../../../common/v2/definitions.json#/parameters/SchemaGroupNameParameter"
              },
              {
                "name": "parameters",
                "in": "body",
                "required": true,
                "schema": {
                  "$ref": "#/definitions/SchemaGroup"
                },
                "description": "Parameters supplied to create an Event Hub resource."
              },
              {
                "$ref": "../../../common/v1/definitions.json#/parameters/ApiVersionParameter"
              },
              {
                "$ref": "../../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
              }
            ],
            "responses": {
              "200":{
                "description": ""
              }
            }
          },
          "delete": {
            "tags":[
              "SchemaRegistry"
            ],
            "operationId": "SchemaRegistry_CreateOrUpdate",
            "x-ms-examples": {

            },
            "description": "",
            "parameters": [
              {
                "$ref": "../../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
              },
              {
                "$ref": "../../../common/v1/definitions.json#/parameters/NamespaceNameParameter"
              },
              {
                "$ref": "../../../common/v2/definitions.json#/parameters/SchemaGroupNameParameter"
              },
              {
                "$ref": "../../../common/v1/definitions.json#/parameters/ApiVersionParameter"
              },
              {
                "$ref": "../../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
              }
            ],
            "responses": {
              "200":{
                "description": ""
              }
            }
          },
          "get":{
            "tags":[
              "SchemaRegistry"
            ],
            "operationId": "",
            "x-ms-examples":{
              
            },
            "description": "",
            "parameters": [
              {
                "$ref": "../../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
              },
              {
                "$ref": "../../../common/v1/definitions.json#/parameters/NamespaceNameParameter"
              },
              {
                "$ref": "../../../common/v2/definitions.json#/parameters/SchemaGroupNameParameter"
              },
              {
                "$ref": "../../../common/v1/definitions.json#/parameters/ApiVersionParameter"
              },
              {
                "$ref": "../../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
              }
            ],
            "responses": {
              "200":{
                "description": ""
              }
            }
          }
        }
    },
    "definitions": {
      "SchemaGroup":{
        "properties": {
          "properties":{
            "x-ms-client-flatten":true,
            "properties": {
              "updatedAtUtc": {
                "readOnly": true,
                "format": "date-time",
                "type": "string",
                "description": "Exact time the Schema Group was updated"
              },
              "createdAtUtc": {
                "readOnly": true,
                "format": "date-time",
                "type": "string",
                "description": "Exact time the Schema Group was created."
              },
              "eTag": {
                "readOnly": true,
                "type": "string",
                "description": "The ETag value."
              },
              "groupProperties": {
                "type": "object",
                "properties": {
                  "groupPropertyValue": {
                    "type": "string",
                    "description": "The group property values"
                  }
                }
              },
              "schemaCompatibility": {
                "type": "string",
                "description": "",
                "enum": [
                  "None",
                  "Backward",
                  "Forward"
                ],
                "x-ms-enum":{
                  "name": "SchemaCompatibility",
                  "modelAsString": true
                }
              },
              "schemaType": {
                "type": "string",
                "description": "",
                "enum": [
                  "Unknown",
                  "Avro"
                ],
                "x-ms-enum":{
                  "name": "SchemaType",
                  "modelAsString": true
                }
              }
            },
            "description": ""
          },
          "systemData": {
            "readOnly": true,
            "description": "The system meta data relating to this resource.",
            "$ref": "../../../common/v1/definitions.json#/definitions/systemData"
          }
        }
      }
    }
}